[submodule ".registry"]
	path = .registry
	url = https://github.com/moo-dio/moo-dio.r-universe.dev
	branch = HEAD
[submodule "AIGRA"]
	path = AIGRA
	url = https://github.com/MOO-DIO/AIGRA
	branch = main
